---
export const prerender = true;
import Github from "../icons/Social/Github_dark.astro"
---

<footer class="w-full sectionFooter">
    <div class="opacity-80 w-full mx-auto flex flex-col items-center justify-center text-center py-8"> 
        
        
        <ul class="flex md:flex-row gap-4 md:gap-8 flex-col justify-center m-auto">
            <li> 
                <a href="/#about" class="hover:underline me-4 md:me-6">A propos</a> 
            </li> 
            <li> 
                <a id="contact" href="mailto:fabienroy2@gmail.com@gmail.com" class=" text-pretty hover:underline">Me contacter</a> 
            </li> 
            <li> 
                <a href="https://github.com/fabry44" target="_blank" 
                rel="noopener noreferrer" class="hover:underline flex items-center ml-2">
                    <Github class="size-4 md:size-6 mr-2"/>
                    Linkedin
                </a>    
            </li>
            <li> 
                <a href="/politique-confidentialite" class="hover:underline">Politique de confidentialité</a>
            </li> 
            <li> 
                <a href="/mentions-legales" class="hover:underline">Mentions légales</a>
            </li>
        </ul> 
        <div class="text-center flex items-end mt-3">&copy; {new Date().getFullYear()} Fabien Roy. Tous droits réservés.</div>
    </div> 
</footer>
