---
export const prerender = true;
const { formations } = Astro.props;
---
<section class="container px-5 py-6 mx-auto space-y-12 relative sectionFormation">
    <div class="relative border-l border-gray-800 pl-6 divFormation">
        {formations.map(({ date, degree, institution, description }, index) => (
            <div class={`mb-10 ${index % 2 === 0 ? 'classPair' : 'classImpair'}`}>
            <div class="absolute w-4 h-4 bg-accent rounded-full -left-2.5 mt-2 shadowstyle"></div>
            <h2 class="text-2xl font-bold">{new Date(date).getFullYear()}</h2>
            <p class="text-xl font-semibold">{degree}</p>
            <p class="text-lg">{institution}</p>
            <p class="leading-relaxed text-base">{description}</p>
            </div>
        ))}
    </div>
</section>
