---
export const prerender = true;
import Header from "../components/Header.astro";
import "@fontsource-variable/source-code-pro";
import preloadImages from "../data/preload-images.json";

interface Props {
    title: string;
    description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="fr" class="light">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/Logo_fr.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <link rel="sitemap" href="/sitemap-index.xml" />
        <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@700&family=Scada:wght@400&display=swap" rel="stylesheet"> -->
        {
            preloadImages.map((imgPath) => (
                <link
                    rel="preload"
                    as="image"
                    href={imgPath}
                    type="image/avif"
                    fetchpriority="high"
                />
            ))
        }
        <script>
            (function () {
                const theme = localStorage.getItem("theme");
                if (theme === "dark") {
                    document.documentElement.classList.add("dark");
                }
            })();
        </script>
    </head>
    <body
        class="bg-background text-text dark:bg-dark-background dark:text-dark-text"
    >
        <div class="background"></div>
        <Header />
        <slot />
    </body>
</html>

<style is:global>
    @import url("https://fonts.googleapis.com/css?family=Crimson%20Pro:700|Scada:400");
    /* @font-face {
    font-family: 'Crimson Pro';
    src: url('/fonts/CrimsonPro-Regular.woff2') format('woff2'),
         url('/fonts/CrimsonPro-Regular.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Scada';
    src: url('/fonts/Scada-Regular.woff2') format('woff2'),
         url('/fonts/Scada-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
} */
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Crimson Pro", sans-serif;
        font-weight: 700;
    }

    html {
        font-size: 100%; /* 16px */
        font-family: "Scada", sans-serif;
        font-weight: 400;
        /* scroll-behavior: smooth; */
        scroll-snap-type: y mandatory;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        min-width: 100vw;
        transition: background 0.3s ease;
    }

    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    @layer base {
        :root {
            --text: #050606;
            --background: #fcfcfc;
            --primary: #ebeae5;
            --secondary: #d9d6d3;
            --accent: #847c71;
        }
        .dark {
            --text: #f9fafa;
            --background: #272727;
            --primary: #ebeae5;
            --secondary: #d6d3c5;
            --accent: #d6d3c5;
        }
    }

    header {
        background: var(--background);
        opacity: 0.8;
        transition:
            background 0.3s ease,
            filter 0.3s ease,
            height 0.3s ease,
            border-radius 0.8s ease;
        z-index: 10;
    }

    header.scrolled {
        background: var(--background);
        filter: drop-shadow(2px 4px 6px black);
        width: 100%;
        z-index: 10;
        transition:
            background 0.3s ease,
            filter 0.3s ease,
            height 0.3s ease,
            border-radius 0.8s ease;
    }

    #toggle-dark-mode {
        background: var(--background);
        position: fixed;
        right: 10px;
        top: 60px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        transition:
            background 0.3s ease,
            filter 0.3s ease,
            height 0.3s ease,
            border-radius 0.8s ease;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media screen and (min-width: 576px) {
        header.scrolled {
            background: var(--background);
            /* color: white; */
            opacity: 0.9;
            transition:
                background 0.3s ease,
                filter 0.3s ease,
                height 0.3s ease,
                border-radius 0.8s ease;
        }
    }

    @media screen and (min-width: 768px) {
        header.scrolled {
            background: var(--background);
            opacity: 0.9;
            transition:
                background 0.3s ease,
                filter 0.3s ease,
                height 0.3s ease,
                border-radius 0.8s ease;
        }
    }

    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        background: radial-gradient(
            circle 200px at 50% 200px,
            #e3effd,
            transparent
        );
        filter: blur(100px);
    }

    .bg-section {
        background-image: url("/contact_fond_3.webp"); /* image à remplacer une fois dispo */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        padding: 3rem 1rem;
        height: 1200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media screen and (min-width: 768px) {
        .bg-section {
            height: 800px;
            padding: 6rem;
        }
    }

    /* .bg-section::before {
        content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    backdrop-filter: blur(1px);
    } */

    .bg-section > .flex {
        z-index: 1;
    }

    .technoIcon {
        background: var(--secondary);
    }
    .ProjectCard {
        background: var(--primary);
        backdrop-filter: blur(15px);
        background-position: right top;
        background-size: 100%;
    }

    /* .contactsection {
        background: var(--secondary);
        border-radius: 15px;
        padding: 30px;
        
    } */

    #contactForm {
        background: var(--secondary);
        border-radius: 15px;
        padding: 30px;
        box-shadow: 2px 2px 4px black;
    }

    input::placeholder,
    textarea::placeholder {
        color: grey;
    }

    .sectionFormation {
        max-width: 800px;
    }
    .divFormation {
        margin-left: 45%;
    }

    /* .classPair {
        width: 50%;
    } */
    .classImpair {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: end;
        padding-right: 50px;
        margin-left: -100%;
        width: 100%;
    }
    .sectionFooter {
        background: var(--background);
        min-height: 180px;
        display: flex;
        z-index: 10;
    }

    @media (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
    }

    .curriculum {
        display: flex;
        margin-top: 20px;
        background: var(--accent);
        height: 345px;
        width: 190px;
        flex-direction: column;
        border-radius: 48px;
        justify-content: space-around;
        align-items: center;
        box-shadow: 2px 2px 4px black;
    }

    .curriculum body {
        font-family: "Lato", Helvetica, Arial, sans-serif;
        font-weight: 400;
        background: black;
        margin: 0;
        letter-spacing: 0.3px;
        color: #39424b;
        position: absolute;
        overflow: hidden;
    }

    iframe {
        position: absolute;
        background-color: var(--accent);
        color: white;
        border-radius: 15px;
        box-shadow: 3px -5px 12px 2px black;
    }

    .cta {
        position: relative;
        margin-top: 20px;
        background: var(--background);
        border-radius: 10px;
        border: groove var(--accent);
        color: var(--text);
    }

    .cta:hover {
        position: relative;
        margin-top: 20px;
        background: var(--background);
        border-radius: 10px;
        border: groove var(--accent);
        color: var(--text);
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    }

    .cta:hover {
        background: var(--primary);
        box-shadow: 1px 3px 12px var(--primary);
    }

    .shadowstyle {
        box-shadow: 2px 2px 2px black;
    }

    /* arcticle > div {
            width: 100%;
            height: 800px;
            margin: 20px;
            background: #f5f5f5;
            overflow: hidden;
        }

        arcticle img {
            width: 300px;
            height: 400px;
        }

        .progress {
            position: fixed;
            left: 0;
            right: 0;
            height: 5px;
            background: #4ff0b7;
            bottom: 50px;
            transform: scaleX(0);
        } */
</style>
