---
import Header from "../components/Header.astro";
import "@fontsource-variable/source-code-pro";

interface Props {
    title: string;
    description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="fr" class="light">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <!-- Matomo -->

    </head>
    <body
        class="bg-background text-text dark:bg-dark-background dark:text-dark-text"
    >
        <div class="background"></div>
        <Header />
        <slot />
    </body>
</html>


<style is:global>
    @import url("https://fonts.googleapis.com/css?family=Crimson%20Pro:700|Scada:400");

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Crimson Pro";
        font-weight: 700;
    }

    html {
        font-size: 100%; /* 16px */
        font-family: "Scada";
        font-weight: 400;
        /* scroll-behavior: smooth; */
        scroll-snap-type: y mandatory;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        min-width: 100vw;
    }

    /* :root {
        color-scheme: light;
        --text: #041514;
        --background: #f7fdfd;
        --primary: #34d5d3;
        --secondary: #8db0e8;
        --accent: #5579dd;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            color-scheme: dark;
            --text: #eafbfa;
            --background: #020808;
            --primary: #2acbc8;
            --secondary: #173a72;
            --accent: #2246aa;
        }
    } */
    /* :root {
            --text: #182707;
            --background: #effae0;
            --primary: #416e12;
            --secondary: #73e8c9;
            --accent: #20aac5;
        }
        @media (prefers-color-scheme: dark) {
            :root {
            color-scheme: dark;
            --text: #e9f8d8;
            --background: #141f05;
            --primary: #c1ed91;
            --secondary: #178c6d;
            --accent: #3ac3df;
            }
        }, */

    /* :root {
        --text: #101c01;
        --background: #effae0;
        --primary: #374151;
        --secondary: #78fddb;
        --accent: #4ad4fc;
    }
    @media (prefers-color-scheme: dark) {
        :root {
            color-scheme: dark;
            --text: #f1fee1;
            --background: #141f05;
            --primary: #adb7c7;
            --secondary: #028866;
            --accent: #038eb5;
        }
    } */

    
    /* :root {
        --text: #130e07;
        --background: #faf5f0;
        --primary: #ba7c45;
        --secondary: #8fd6af;
        --accent: #79c8cd;
    }
    @media (prefers-color-scheme: dark) {
        :root {
            color-scheme: dark;
            --text: #f8f3ec;
            --background: #0f0a05;
            --primary: #ba7c45;
            --secondary: #297049;
            --accent: #328086;
        }
    } */
    @tailwind base;
@tailwind components;
@tailwind utilities;
    /* @layer base {
        :root {
            --text: #130e07;
            --background: #faf5f0;
            --primary: #ba7c45;
            --secondary: #8fd6af;
            --accent: #79c8cd;
        }
        .dark {
            --text: #f8f3ec;
            --background: #0f0a05;
            --primary: #ba7c45;
            --secondary: #297049;
            --accent: #328086;
        }
    } */
    /* @layer base {
        :root {
            --text: #101c01;
            --background: #effae0;
            --primary: #374151;
            --secondary: #78fddb;
            --accent: #4ad4fc;
        }
        .dark {
            --text: #f1fee1;
            --background: #141f05;
            --primary: #adb7c7;
            --secondary: #028866;
            --accent: #038eb5;
        }
    } */

    /* @layer base {
        :root {
            --text: #011a1f;
            --background: #f5fdff;
            --primary: #9bd0e1;
            --secondary: #aaa490;
            --accent: #f8c847;
        }
        .dark {
            --text: #e1f9fe;
    --background: #00080a;
    --primary: #618f9e;
    --secondary: #716441;
    --accent: #b68707;
    }
    } */

    @layer base {
        :root {
            --text: #0a0c0d;
            --background: #f9fafa;
            --primary: #9dcfe2;
            --secondary: #c6b7ac;
            --accent: #f8ca49;
            --linearPrimarySecondary: linear-gradient(#9dcfe2, #c6b7ac);
            --linearPrimaryAccent: linear-gradient(#9dcfe2, #f8ca49);
            --linearSecondaryAccent: linear-gradient(#c6b7ac, #f8ca49);
            --radialPrimarySecondary: radial-gradient(#9dcfe2, #c6b7ac);
            --radialPrimaryAccent: radial-gradient(#9dcfe2, #f8ca49);
            --radialSecondaryAccent: radial-gradient(#c6b7ac, #f8ca49);
        }
        .dark {
            --text: #f1f3f4;
            --background: #050606;
            --primary: #1d4f62;
            --secondary: #524338;
            --accent: #b68707;
            --linearPrimarySecondary: linear-gradient(#1d4f62, #524338);
            --linearPrimaryAccent: linear-gradient(#1d4f62, #b68707);
            --linearSecondaryAccent: linear-gradient(#524338, #b68707);
            --radialPrimarySecondary: radial-gradient(#1d4f62, #524338);
            --radialPrimaryAccent: radial-gradient(#1d4f62, #b68707);
            --radialSecondaryAccent: radial-gradient(#524338, #b68707);
        }
    },
/* @layer base {
  :root {
    --text: #0c1427;
    --background: #f7f9fc;
    --primary: #9dcee2;
    --secondary: #d9a696;
    --accent: #f8ca49;
    --linearPrimarySecondary: linear-gradient(#9dcee2, #d9a696);
--linearPrimaryAccent: linear-gradient(#9dcee2, #f8ca49);
--linearSecondaryAccent: linear-gradient(#d9a696, #f8ca49);
--radialPrimarySecondary: radial-gradient(#9dcee2, #d9a696);
--radialPrimaryAccent: radial-gradient(#9dcee2, #f8ca49);
--radialSecondaryAccent: radial-gradient(#d9a696, #f8ca49);
  }
  .dark {
    --text: #d8e0f3;
    --background: #030507;
    --primary: #1d4f62;
    --secondary: #693626;
    --accent: #b68707;
    --linearPrimarySecondary: linear-gradient(#9dcee2, #d9a696);
--linearPrimaryAccent: linear-gradient(#9dcee2, #f8ca49);
--linearSecondaryAccent: linear-gradient(#d9a696, #f8ca49);
--radialPrimarySecondary: radial-gradient(#9dcee2, #d9a696);
--radialPrimaryAccent: radial-gradient(#9dcee2, #f8ca49);
--radialSecondaryAccent: radial-gradient(#d9a696, #f8ca49);
  }
}, */


    header {
        background: var(--background);
        transition: background 0.3s ease, filter 0.3s ease, height 0.3s ease, border-radius 0.8s ease;
        z-index: 10;
        
    }

    header.scrolled {
        background: var(--background);
        filter: drop-shadow(2px 4px 6px black); 
        width: 100%;
        z-index: 10;
        transition: background 0.3s ease, filter 0.3s ease, height 0.3s ease, border-radius 0.8s ease;
    }

    @media screen and (min-width: 576px) {
        header.scrolled {
        background: var(--background);
        /* color: white; */
        opacity: 0.9;
        transition: background 0.3s ease, filter 0.3s ease, height 0.3s ease, border-radius 0.8s ease;
        }
        
    }

    @media screen and (min-width: 768px) {
        header.scrolled {
        background: var(--background);
        opacity: 0.9;
        transition: background 0.3s ease, filter 0.3s ease, height 0.3s ease, border-radius 0.8s ease;
        }
        
    }

    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        background: radial-gradient(
            circle 200px at 50% 200px,
            #e3effd,
            transparent
        );
        filter: blur(100px);
    }

    
    .bg-section {
        background-image: url("/contact.webp");
        background-size: cover;
        background-position: center;
        /* background-attachment: fixed; */
        position: relative;
        /* z-index: -1; */
        height: 1200px;
        padding: 3rem;
    }

    @media screen and (min-width: 768px) {
        .bg-section {
            
            height: 800px;
            padding: 6rem;
        }        
    }



    /* .bg-section::before {
        content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    backdrop-filter: blur(1px);
    } */

    .bg-section > .flex {
        
        z-index: 1; 
    }

    .technoIcon {
        background: var(--primary);
    }
    .ProjectCard {
        background: var(--linearPrimarySecondary);
    }

    .contactsection {
        background: var(--secondary);
        border-radius: 15px;
        padding: 30px;
        
    }

    input::placeholder,
    textarea::placeholder {
    color: white;
    }


    .sectionFormation {
        max-width: 800px;
    }
    .divFormation {
        margin-left: 45%;
    }

    /* .classPair {
        width: 50%;
    } */
    .classImpair {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: end;
        padding-right: 50px;
        margin-left: -100%;
        width: 100%;
    }
    .sectionFooter {
        background: var(--background);
        box-shadow: inset -2px 2px 3px;
        height: 180px;
        width: 100vw;
        display: flex;
        z-index: 10;
    }

    @media (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
    }

    .curriculum {
        display: flex;
        margin-top: 20px;
        background: var(--accent);
        height: 345px;
        width: 190px;
        flex-direction: column;
        border-radius: 48px;
        justify-content: space-around;
        align-items: center;
        box-shadow: 2px 2px 4px black;
    }

    .curriculum body{
        font-family: "Lato", Helvetica, Arial, sans-serif;
        font-weight: 400;
        background: black;
        margin: 0;
        letter-spacing: .3px;
        color: #39424B;
        position: absolute;
        overflow: hidden;
    }

    iframe {
        position: absolute;
        background-color: var(--accent);
        color: white;
        border-radius: 15px;
        box-shadow: 3px -5px 12px 2px black;
    }

    .curriculum a, .contactsection button {
        position: relative;
        margin-top: 20px;
        background: var(--background);
        border-radius: 10px;
        border: groove var(--accent);
        color: var(--text);
    }
    
    .shadowstyle {
        box-shadow: 2px 2px 2px black;
    }

    /* arcticle > div {
            width: 100%;
            height: 800px;
            margin: 20px;
            background: #f5f5f5;
            overflow: hidden;
        }

        arcticle img {
            width: 300px;
            height: 400px;
        }

        .progress {
            position: fixed;
            left: 0;
            right: 0;
            height: 5px;
            background: #4ff0b7;
            bottom: 50px;
            transform: scaleX(0);
        } */
</style>
