---
import Header from "../components/Header.astro";
import "@fontsource-variable/source-code-pro";
interface Props {
    title: string;
    description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es" class="light">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body
        class="bg-light-background text-light-text dark:bg-dark-background dark:text-dark-text"
    >
        <div class="background"></div>
        <Header />
        <slot />
    </body>
</html>

<style is:global>
    @import url("https://fonts.googleapis.com/css?family=Crimson%20Pro:700|Scada:400");

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Crimson Pro";
        font-weight: 700;
    }

    html {
        font-size: 100%; /* 16px */
        font-family: "Scada";
        font-weight: 400;
        /* scroll-behavior: smooth; */
        scroll-snap-type: y mandatory;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        min-width: 100vw;
    }

    /* :root {
        color-scheme: light;
        --text: #041514;
        --background: #f7fdfd;
        --primary: #34d5d3;
        --secondary: #8db0e8;
        --accent: #5579dd;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            color-scheme: dark;
            --text: #eafbfa;
            --background: #020808;
            --primary: #2acbc8;
            --secondary: #173a72;
            --accent: #2246aa;
        }
    } */
    /* :root {
            --text: #182707;
            --background: #effae0;
            --primary: #416e12;
            --secondary: #73e8c9;
            --accent: #20aac5;
        }
        @media (prefers-color-scheme: dark) {
            :root {
            color-scheme: dark;
            --text: #e9f8d8;
            --background: #141f05;
            --primary: #c1ed91;
            --secondary: #178c6d;
            --accent: #3ac3df;
            }
        }, */

    :root {
        --text: #101c01;
        --background: #effae0;
        --primary: #374151;
        --secondary: #78fddb;
        --accent: #4ad4fc;
    }
    @media (prefers-color-scheme: dark) {
        :root {
            color-scheme: dark;
            --text: #f1fee1;
            --background: #141f05;
            --primary: #adb7c7;
            --secondary: #028866;
            --accent: #038eb5;
        }
    }

    
    header {
        background: transparent;
        transition: linear 1.3s;
        z-index: 10;
    }

    header.scrolled {
        background: var(--primary);
        filter: drop-shadow(2px 4px 6px black);
        width: 100%;
        color: white;
        border-radius: 15px;
        z-index: 10;
    }

    @media screen and (min-width: 576px) {
        header.scrolled {
        background: var(--primary);
        filter: drop-shadow(2px 4px 6px black);
        width: 80%;
        color: white;
        border-radius: 15px;
        opacity: 0.9;
        }
        
    }

    @media screen and (min-width: 768px) {
        header.scrolled {
        background: var(--primary);
        filter: drop-shadow(2px 4px 6px black);
        width: 50%;
        color: white;
        border-radius: 15px;
        opacity: 0.9;
        }
        
    }

    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        background: radial-gradient(
            circle 200px at 50% 200px,
            #e3effd,
            transparent
        );
        filter: blur(100px);
    }

    
    .bg-section {
        background-image: url("/contact.webp");
        background-size: cover;
        background-position: center;
        /* background-attachment: fixed; */
        position: relative;
        /* z-index: -1; */
        height: 1200px;
        padding: 3rem;
    }

    @media screen and (min-width: 768px) {
        .bg-section {
            
            height: 800px;
            padding: 6rem;
        }        
    }



    /* .bg-section::before {
        content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    backdrop-filter: blur(1px);
    } */

    .bg-section > .flex {
        
        z-index: 1; 
    }

    .contactsection {
        background: #374151ba;
        border-radius: 15px;
        /* padding: 30px;
        margin: 30px; */
    }


    .sectionFormation {
        max-width: 800px;
    }
    .divFormation {
        margin-left: 45%;
    }

    /* .classPair {
        width: 50%;
    } */
    .classImpair {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: end;
        padding-right: 50px;
        margin-left: -100%;
        width: 100%;
    }
    .sectionFooter {
        background: var(--primary);
        color: white;
        height: 80px;
        width: 100vw;
        display: flex;
        z-index: 10;
    }

    @media (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
    }

    .curriculum {
        display: flex;
        margin-top: 20px;
        background: var(--accent);
        overflow: hidden;
        height: 500px;
        width: 50%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
    }

    .curriculum body{
        font-family: "Lato", Helvetica, Arial, sans-serif;
        font-weight: 400;
        background: black;
        margin: 0;
        letter-spacing: .3px;
        color: #39424B;
        position: absolute;
        overflow: hidden;
    }

    iframe {
        position: absolute;
        background-color: var(--accent);
        color: white;
    }

    .curriculum a {
        position: relative;
        top: 200px;
        background-color: ;
    }
    

    /* arcticle > div {
            width: 100%;
            height: 800px;
            margin: 20px;
            background: #f5f5f5;
            overflow: hidden;
        }

        arcticle img {
            width: 300px;
            height: 400px;
        }

        .progress {
            position: fixed;
            left: 0;
            right: 0;
            height: 5px;
            background: #4ff0b7;
            bottom: 50px;
            transform: scaleX(0);
        } */
</style>
